<section class="featured-products">
  <div class="container">
    <h2 class="section-title">Productos Destacados</h2>
    <div class="product-grid">
      <div class="product-card">
        <div class="container-image">
          <img
            src="/featured _products/agua_micelar.jpg"
            alt="Crema Facial"
            class="product-image"
          />
        </div>
        <h3 class="product-name">Agua micelar</h3>
        <p class="product-description">
          Elimina todo rastro de maquillaje, grasa e impurezas sin perjudicar ni
          agredir la piel.
        </p>
        <div class="container-button">
          <a href="https://tienda.ozonapatagonia.com" class="product-button"
            >Ver en Tienda</a
          >
        </div>
      </div>
      <div class="product-card">
        <div class="container-image">
          <img
            src="/featured _products/contorno_ojos.jpg"
            alt="Fluido Corporal"
            class="product-image"
          />
        </div>
        <h3 class="product-name">Contorno de ojos - Crema antistress</h3>
        <p class="product-description">
          Refrescante, descongestionante y reconstituyente. Contiene
          Hialuronato, Q10, Cafeína. Se debe aplicar por la noche.
        </p>
        <div class="container-button">
          <a href="https://tienda.ozonapatagonia.com" class="product-button"
            >Ver en Tienda</a
          >
        </div>
      </div>
      <div class="product-card">
        <div class="container-image">
          <img
            src="/featured _products/crema_antiage.jpg"
            alt="Agua Micelar"
            class="product-image"
          />
        </div>
        <h3 class="product-name">Crema antiage</h3>
        <p class="product-description">
          Potentes activos como el Hialuronato en sinergia con Aceite de Rosa
          Mosqueta
        </p>
        <div class="container-button">
          <a href="https://tienda.ozonapatagonia.com" class="product-button"
            >Ver en Tienda</a
          >
        </div>
      </div>
      <div class="product-card">
        <div class="container-image">
          <img
            src="/featured _products/crema_para_manos.jpg"
            alt="Tónico Facial"
            class="product-image"
          />
        </div>
        <h3 class="product-name">Crema para manos</h3>
        <p class="product-description">
          Fina fragancia y confort en manos durante todo el día, rápida
          absorción, con Aceite de Rosa Mosqueta.
        </p>
        <div class="container-button">
          <a href="https://tienda.ozonapatagonia.com" class="product-button"
            >Ver en Tienda</a
          >
        </div>
      </div>
      <div class="product-card">
        <div class="container-image">
          <img
            src="/featured _products/fluido_corporal.jpg"
            alt="Serum Antiarrugas"
            class="product-image"
          />
        </div>
        <h3 class="product-name">Fluido corporal</h3>
        <p class="product-description">
          Revitalizante, reafirmante y tonificante. Con aceite de Rosa Mosqueta
          y emolientes vegetales, textura ligera y suave. Aplicar en todo el
          cuerpo dia y noche.
        </p>
        <div class="container-button">
          <a href="https://tienda.ozonapatagonia.com" class="product-button"
            >Ver en Tienda</a
          >
        </div>
      </div>
      <div class="product-card">
        <div class="container-image">
          <img
            src="/featured _products/crema_antiage.jpg"
            alt="Mascarilla Hidratante"
            class="product-image"
          />
        </div>
        <h3 class="product-name">Aceite de Rosa Mosqueta</h3>
        <p class="product-description">
          100% puro, es un poderoso regenerador de la piel, contribuye a
          eliminar manchas, cicatrices y marcas.
        </p>
        <div class="container-button">
          <a href="https://tienda.ozonapatagonia.com" class="product-button"
            >Ver en Tienda</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .featured-products {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    padding: 4rem 1rem;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .section-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
    color: #333;
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }

  .product-card {
    background-color: #f8f8f8;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .container-image {
    padding: 1rem;
    padding-bottom: 0;
    overflow: hidden;
  }

  .product-image {
    width: 100%;
    border-radius: 8px;
    transition: all 0.3s ease;
  }

  .container-image:hover .product-image {
    transform: scale(1.4);
  }

  .product-name {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1rem 1rem 0.5rem;
    color: #333;
  }

  .product-description {
    font-size: 0.9rem;
    color: #666;
    margin: 0 1rem 1rem;
    flex-grow: 1;
  }

  .container-button {
    padding: 1em;
  }

  .product-button {
    display: block;
    background-color: #dc2625;
    color: white;
    text-align: center;
    padding: 0.7rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s ease;
  }

  .product-button:hover {
    background-color: #b71c1c;
  }

  @media (max-width: 768px) {
    .product-grid {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
</style>
