<>
<header>
  <div class="container-header">
    <a href="#" class="logo" aria-label="Ir a la página principal">Ozona Patagonia</a>
    <nav>
      <ul>
        <li><a class="menu-item active" href="#inicio" aria-label="Ir a la página de inicio">Inicio</a></li>
        <li><a class="menu-item" href="#nosotros" aria-label="Ir a la página de nosotros">Nosotros</a></li>
        <li><a class="menu-item" href="#productos-destacados" aria-label="Ir a la página de productos">Productos</a></li>
        <li><a class="menu-item" href="#contacto" aria-label="Ir a la página de contacto">Contacto</a></li>
        <li><a  href="https://tienda.ozonapatagonia.com.ar"  aria-label="Ir a la página de la tienda" class="button-tienda" target="_blank">Ir a la tienda <i class="icon-arrow-rigth"></i></a></li>
      </ul>
      <button class="hamburger" aria-label="Abrir menú">
        <i class="icon-menu-burger"></i>
      </button>
    </nav>
  </div>
</header>

<div class="sidebar" role="navigation" aria-labelledby="sidebar-title">
  <button class="close-btn" aria-label="Cerrar menú"><i class="icon-cross-delete"></i></button>
  <ul>
    <li><a class="menu-item active" href="#inicio" aria-label="Ir a la página de inicio">Inicio</a></li>
    <li><a class="menu-item" href="#nosotros" aria-label="Ir a la página de nosotros">Nosotros</a></li>
    <li><a class="menu-item" href="#productos-destacados" aria-label="Ir a la página de productos">Productos</a></li>
    <li><a class="menu-item" href="#contacto" aria-label="Ir a la página de contacto">Contacto</a></li>
    <li><a href="https://tienda.ozonapatagonia.com.ar/" aria-label="Ir a la página de la tienda" class="button-tienda" target="_blank">Ir a la tienda <i class="icon-arrow-rigth"></i></a></li>
  </ul>
</div>

<!-- Agrega un identificador al título del menú lateral -->
<h2 id="sidebar-title" class="visually-hidden">Menú lateral</h2>
</>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
  }

  header {
    width: 100%;
    height: 8svh;
    min-height: 50px;
    background-color: #fff;
    box-shadow:
      rgba(0, 0, 0, 0.12) 0px 1px 3px,
      rgba(0, 0, 0, 0.24) 0px 1px 2px;
    position: fixed;
    top: 0;
    z-index: 10;
  }

  .container-header {
    height: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    text-decoration: none;
  }

  nav {
    display: flex;
    align-items: center;
  }

  nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
  }

  nav ul li {
    margin-left: 1rem;
  }

  nav ul li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1em;
    color: #333;
  }

  nav ul li a.active {
    color: #b12725;
  }

  .button-tienda {
    color: #fff !important;
    background-color: #b12725;
    padding: .5em;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: background-color, scale 0.3s ease;
    &:hover {
      color: #fff !important;
      scale: 1.1;
      background-color: #8e1f1d;
    }

    &::after {
      content: '';
    }
  }

  nav ul li a:hover {
    color: #b12725;
  }

  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    background: none;
    border: none;
    .icon-menu-burger:before {
      font-size: 1.7em;
    }
  }

  .sidebar {
    position: fixed;
    z-index: 150;
    top: 0;
    right: -250px;
    min-width: 250px;
    height: 100%;
    background-color: #f8f8f8;
    transition: 0.4s;
    padding-top: 2em;
    padding: 1rem;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  }

  .sidebar.active {
    right: 0;
  }

  .sidebar ul {
    list-style-type: none;
    margin-top: 2rem;
  }

  .sidebar ul li {
    margin-bottom: 1rem;
  }

  .sidebar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    font-size: 1.5rem;
  }

  .close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }

  @media (max-width: 790px) {
    nav ul {
      display: none;
    }

    .hamburger {
      display: flex;
    }

    .button-tienda {
      margin-top: 1em;
      width: 100%;
      justify-content: center;
      padding: .2em;
      &:hover {
        scale: 1.05;
    }
  }
</style>

<script>
  const hamburger = document.querySelector(".hamburger");
  const sidebar = document.querySelector(".sidebar");
  const closeBtn = document.querySelector(".close-btn");

  function toggleSidebar() {
    sidebar?.classList.toggle("active");
  }

  hamburger?.addEventListener("click", toggleSidebar);
  closeBtn?.addEventListener("click", toggleSidebar);

  // Close sidebar when clicking outside
  document.addEventListener("click", (event) => {
    const target = event.target as Node;
    if (sidebar && target && hamburger) {
      if (!sidebar.contains(target) && !hamburger.contains(target)) {
        sidebar.classList.remove("active");
      }
    }
  });
</script>
