<section class="hero scrollspy" id="inicio">
    <div class="hero-content">
        <h1 class="hero-title">OZONA PATAGONIA</h1>
        <h2 class="hero-subtitle">COSMÉTICA GOURMET</h2>
        <a href="https://tienda.ozonapatagonia.com.ar/" aria-label="Ir a la página de la tienda" class="hero-button">Visita nuestra tienda web</a>
    </div>
</section>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: Arial, sans-serif;
    }

    .hero {
        background-image: url('/src/assets/bg-hero-low.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 100svh;
        display: flex;
        justify-content: center;
        align-items: center;
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 100px), 50% 100%, 0 calc(100% - 100px));
    }

    .hero::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .hero-content {
        text-align: center;
        color: white;
        position: relative;
        z-index: 1;
        max-width: 800px;
        padding: 20px;
    }

    .hero-title {
        font-family: 'busuroma', sans-serif;
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .hero-subtitle {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .hero-button {
        background-color: #b12725;
        border-radius: 8px;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 1rem;
        cursor: pointer;
        text-decoration: none;
        transition: background-color, scale 0.3s ease;
    }

    .hero-button:hover {
        background-color: #8e1f1d;
        scale: 1.1;
    }

    @media (max-width: 600px) {
        .hero {
            clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), 50% 100%, 0 calc(100% - 50px));
        }
    }

    @media not all and (min-resolution: 0.001dpcm) and (min-resolution: -webkit-min-device-pixel-ratio: 0) {
    .hero {
        background-attachment: scroll; /* Elimina el efecto de fijación en Safari/iOS */
    }
}
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const heroSection = document.querySelector('.hero') as HTMLElement;
        const highResImage = new Image();
        highResImage.src = '/bg-hero.jpg';

        highResImage.onload = function () {
            if(heroSection && heroSection.style) {
                heroSection.style.backgroundImage = `url(${highResImage.src})`;
            }
        };
    });
</script>