---
import Image from "astro/components/Image.astro";
import bgHero from "../assets/bg-hero.jpg";
---

<div class="hero scrollspy" id="inicio">
    <div class="hero-bg-container">
        <Image src={bgHero} alt="Fondo de la hero" class="hero-bg"/>
    </div>
    <section class="hero-content">
        <h1 class="hero-title">OZONA PATAGONIA</h1>
        <h2 class="hero-subtitle">COSMÉTICA GOURMET</h2>
        <a href="https://tienda.ozonapatagonia.com.ar/" aria-label="Ir a la página de la tienda" class="hero-button">Visita nuestra tienda web</a>
    </section>
</div>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: Arial, sans-serif;
    }

    .hero {
        background-color: #c62828;
        position: relative;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 100px), 50% 100%, 0 calc(100% - 100px));
    }

    .hero-bg-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        overflow: hidden;
    }

    .hero-bg {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .hero-bg-container::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
        opacity: 0; /* Ocultamos inicialmente */
        transition: opacity 0.5s ease; /* Transición suave */
    }

    .hero-bg-container.loaded::before {
        opacity: 1; /* Se muestra después de cargar la imagen */
    }

    .hero-content {
        text-align: center;
        color: white;
        position: relative;
        z-index: 2;
        max-width: 800px;
        padding: 20px;
    }

    .hero-title {
        font-family: 'busuroma', sans-serif;
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .hero-subtitle {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .hero-button {
        display: inline-block;
        background-color: #c62828;
        border-radius: 8px;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 1rem;
        cursor: pointer;
        text-decoration: none;
        transition: background-color 0.3s ease, scale 0.3s ease;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4); /* Sombra más fuerte para resaltar */
    }

    .hero-button:hover {
        background-color: #8e1f1d;
        scale: 1.1;
    }

    .hero-button:active {
        background-color: #631212;
        scale: 1.1;
    }

    @media (max-width: 600px) {
        .hero {
            clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), 50% 100%, 0 calc(100% - 50px));
        }
    }

    /* @media not all and (min-resolution: 0.001dpcm) and (min-resolution: -webkit-min-device-pixel-ratio: 0) {
        .hero-bg-container {
            position: absolute;
        }
    } */
    
</style>

<script>
    // Seleccionar la imagen y el contenedor de fondo
    const heroBg = document.querySelector('.hero-bg') as HTMLImageElement | null;
    const heroBgContainer = document.querySelector('.hero-bg-container') as HTMLElement | null;

    // Verificar si ambos elementos existen antes de continuar
    if (heroBg && heroBgContainer) {
        // Función para agregar la clase 'loaded' al contenedor
        const addLoadedClass = () => {
            heroBgContainer.classList.add('loaded');
        };

        // Esperar a que la imagen cargue
        heroBg.onload = () => {
            addLoadedClass();
        };

        // Verificar si la imagen está en caché (ya cargada)
        if (heroBg.complete) {
            addLoadedClass();  // Ejecutar directamente la función si la imagen ya está cargada
        }
    } else {
        console.error("No se encontraron los elementos de la imagen o el contenedor de fondo.");
    }
</script>
