---
import { Image } from 'astro:assets';
import logo from '../assets/logo.jpg';

import sello1 from "../assets/no-test-animal.png";
import sello2 from "../assets/chica-rosa.png"
---

<div class="slogan-section scrollspy" id="nosotros">
  <div class="logo">
    <Image src={logo} alt="Ozona Patagonia Logo" />
  </div>
  <div class="container-text">
    <p class="hero-text">
      Para Ozona, promover y facilitar la belleza no es solo referirnos a la
      belleza de la piel y el cuerpo. Somos la expresión de nuestras células en
      contacto constante con los otros y con el medio ambiente. Compartiendo las
      emociones que nos suceden cada día. Nuestra filosofía fitoterapéutica está
      basada en la preservación del ser humano como integridad junto con su
      entorno. Defendiendo juntos la biodiversidad. Conspirando para la vida....
      Por el bien común.
    </p>
    <p class="hero-text">
      Toda la materia prima es de nuestra región y cuenta con propiedades
      dermatológicas. No queremos parecer de la Patagonia, sino que somos de la
      Patagonia.
    </p>
    <div class="stamps-container">
      <Image src={sello2} alt="Sello 1" class="stamp-image" />
      <Image src={sello1} alt="Sello 2" class="stamp-image" />
    </div>
  </div>
</div>

<style>
  .slogan-section {
    box-sizing: content-box;
    width: 100%;
    min-height: 92svh;
    background-color: #c62828;
    margin-top: -100px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    padding: 1em;
    background-color: #ad2623;
    img {
      width: 300px;
      height: auto;
    }
  }

  .container-text {
    max-width: 800px;
    text-align: center;
  }

  .hero-text {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    color: #fff;
  }

  .stamps-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 4em;
  }
  .stamp-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }

  @media (max-width: 600px) {
    .logo {
      img {
        width: 200px;
      }
    }

    .container-text {
      padding: 0 1em;
    }

    .hero-text {
      font-size: 1.1em;
    }

    .stamps-container {
      padding-bottom: 1em;
    }
  }
</style>
