---
interface Props {
  title: string;
}

const { url } = Astro;
const ogImageUrl = new URL('/logo.jpg', url).href;

// Schema para Organization y Productos
let schemas = JSON.stringify([
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    name: "Ozona Patagonia",
    url: "https://ozonapatagonia.com.ar",
    logo: "https://ozonapatagonia.com.ar/favicon.svg",
    image: {
      "@type": "ImageObject",
      url: "https://ozonapatagonia.com.ar/favicon.svg",
      width: 600,
      height: 600,
    },
    sameAs: [
      "https://www.facebook.com/OzonaPatagonia",
      "https://www.instagram.com/ozona.patagonia",
    ],
    contactPoint: {
      "@type": "ContactPoint",
      telephone: "+54-9-2944-71-2211",
      contactType: "Customer Service",
      areaServed: "AR",
      availableLanguage: "Spanish",
      email: "info@ozonapatagonia.com.ar",
    },
    address: {
      "@type": "PostalAddress",
      addressLocality: "San Carlos de Bariloche",
      addressRegion: "Río Negro",
      addressCountry: "AR",
    },
  },
  {
    "@context": "https://schema.org",
    "@type": "Product",
    name: "Aceite de Rosa Mosqueta 100% Puro",
    description: "Aceite de rosa mosqueta 100% puro, poderoso regenerador de la piel. Contribuye a eliminar manchas, cicatrices y marcas. Producto natural de Bariloche, Patagonia Argentina.",
    brand: {
      "@type": "Brand",
      name: "Ozona Patagonia"
    },
    offers: {
      "@type": "AggregateOffer",
      priceCurrency: "ARS",
      lowPrice: "11500",
      highPrice: "46300",
      availability: "https://schema.org/InStock",
      url: "https://tienda.ozonapatagonia.com.ar/product/aceite-de-rosa-mosqueta"
    },
    aggregateRating: {
      "@type": "AggregateRating",
      ratingValue: "5",
      reviewCount: "1"
    },
    category: "Cosmética Natural",
    image: "https://ozonapatagonia.com.ar/favicon.svg"
  },
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    name: "Ozona Patagonia",
    url: "https://ozonapatagonia.com.ar",
    description: "Aceites de rosa mosqueta 100% puros y cosméticos naturales de Bariloche. Productos regionales patagónicos de alta calidad.",
    publisher: {
      "@type": "Organization",
      name: "Ozona Patagonia"
    }
  }
]);
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Aceites de rosa mosqueta 100% puros y cosméticos naturales de Bariloche. Aceite puro de rosa mosqueta, cremas antiage, fluidos corporales y productos regionales. Envíos a toda Argentina."
    />
    <meta
      name="keywords"
      content="aceite de rosa mosqueta, aceites de rosa mosqueta, rosa mosqueta pura, aceite rosa mosqueta bariloche, cosméticos con rosa mosqueta, crema rosa mosqueta, aceite puro rosa mosqueta, ozona patagonia, cosméticos naturales, productos naturales patagonia, cosmética natural bariloche, aceite facial, aceite regenerador, antiage natural, cremas antiage, productos regionales, cosmética gourmet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Favicon en SVG (prioritario) -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- Fallback en ICO para navegadores que no soportan SVG -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap"
      as="style"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Meta Open Graph para mejorar la visualización en redes sociales -->
    <meta
      property="og:title"
      content="Aceites de Rosa Mosqueta 100% Puros - Ozona Patagonia Bariloche"
    />
    <meta
      property="og:description"
      content="Aceite de rosa mosqueta 100% puro de Bariloche. Poderoso regenerador natural para eliminar manchas, cicatrices y marcas. Cosméticos naturales patagónicos."
    />
    <meta property="og:image" content={ogImageUrl} />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:url" content={url.href} />
    <meta property="og:type" content="website" />

    <!-- Meta para Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="Aceites de Rosa Mosqueta 100% Puros - Ozona Patagonia"
    />
    <meta
      name="twitter:description"
      content="Aceite de rosa mosqueta puro de Bariloche. Regenerador natural para manchas, cicatrices y antiage. Cosméticos naturales patagónicos."
    />
    <meta name="twitter:image" content={ogImageUrl} />

    <!-- Schema.org JSON-LD para datos estructurados -->
    <script is:inline type="application/ld+json" set:html={schemas} />

    <meta name="theme-color" content="#c62828" />
    <title>Aceites de Rosa Mosqueta 100% Puros | Ozona Patagonia Bariloche</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @font-face {
    font-family: "icomoon";
    src: url("../fonts/icomoon.eot?t9wejw");
    src:
      url("../fonts/icomoon.eot?t9wejw#iefix") format("embedded-opentype"),
      url("../fonts/icomoon.ttf?t9wejw") format("truetype"),
      url("../fonts/icomoon.woff?t9wejw") format("woff"),
      url("../fonts/icomoon.svg?t9wejw#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "busuroma";
    src: url("../fonts/ITCBusoramaBold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icomoon" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-whatsapp:before {
    content: "\e901";
  }
  .icon-cross-delete:before {
    content: "\e902";
  }
  .icon-arrow-rigth:before {
    content: "\e904";
  }
  .icon-menu-burger:before {
    content: "\e905";
  }
  .icon-instagram:before {
    content: "\e900";
  }
  .icon-facebook:before {
    content: "\e903";
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  body {
    font-family: "Poppins", sans-serif;
  }
</style>

<script
  is:inline
  src="https://cdnjs.cloudflare.com/ajax/libs/simple-scrollspy/2.4.1/simple-scrollspy.min.js"
  integrity="sha512-NNb5TgmE+7PHedvAWwPKZ/ukCGJciTHZ23ghPriEeEfcGySDBm9zIrjaXp/WNAUcVYhi5XhJ1rHveDKR35CInw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"></script>
<script is:inline>
  window.onload = function () {
    scrollSpy("#main-menu", {
      sectionClass: ".scrollspy",
      activeClass: "active",
      menuActiveTarget: ".menu-item",
      offset: 100,
    });
  };
</script>
<script is:inline>
  window.onload = function () {
    scrollSpy("#main-menu", {
      sectionClass: ".scrollspy",
      activeClass: "active",
      menuActiveTarget: ".menu-item",
      offset: 120,
    });
  };
</script>
