---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Empresa nacida en San Carlos de Bariloche. Pionera y única en desarrollar productos cosméticos 100% Gourmet - Regional" />
		<meta name="viewport" content="width=device-width" />
		
		<!-- Favicon en SVG (prioritario) -->
		<link rel="icon" type="image/svg+xml" href="/favicon.svg">

		<!-- Fallback en ICO para navegadores que no soportan SVG -->
		<link rel="icon" type="image/x-icon" href="/favicon.ico">

		<title>{title}</title>
	</head>
	<body id="main-menu">
		<slot />
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	.visually-hidden {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		border: 0;
	}

	body {
		font-family: "Poppins", sans-serif;
	}
</style>

<script
  is:inline
  src="https://cdnjs.cloudflare.com/ajax/libs/simple-scrollspy/2.4.1/simple-scrollspy.min.js"
  integrity="sha512-NNb5TgmE+7PHedvAWwPKZ/ukCGJciTHZ23ghPriEeEfcGySDBm9zIrjaXp/WNAUcVYhi5XhJ1rHveDKR35CInw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"></script>
<script is:inline>
  window.onload = function () {
    scrollSpy("#main-menu", {
      sectionClass: ".scrollspy",
      activeClass: "active",
      menuActiveTarget: ".menu-item",
      offset: 100,
    });
  };
</script>